<%
    ntypes = [ 'news', 'release', 'success', 'event', 'test' ]

%>
<div class="flex-col border border-regular border-4 rounded-3xl mt-4 mx-6 highlight-bg">
  <div class="flex w-full h-fit border-b border-b-4 border-regular">
    <h2 class="w-full text-center"><%=@casc_news.title%></h2>
    <span class="ml-auto  my-2">
      <%= heroicon "arrows-pointing-out", variant: :solid, options: { class: "h-8 w-8 text-gray-300 hover:text-white cursor-pointer" } %>
    </span>
    <span class="m-2">
      <a href="/">
        <%= heroicon "x-circle", variant: :solid, options: { class: "h-8 w-8 text-red-300 hover:text-red-500 cursor-pointer" } %>
      </a>
    </span>
  </div>
  <%= form_with model: @casc_news, method: :post, class: "h-full" do |f| %>
    <div class="flex p-4">
      <div class="flex-col w-1/3 mx-auto">
        <%= textField(f, :title, "Title", @casc_news, nil, true) %>
      </div>
      <div class="flex-col w-1/3 mx-auto">
        <%= textField(f, :nType, "Type", @casc_news, nil, true) %>
      </div>
      <div class="flex-col w-1/3 mx-auto">
        <%= textField(f, :user_id, "Author", @casc_news, "[#{current_user.id}] - #{current_user.name}", true) %>
      </div>
    </div>
    <div class="flex p-4">
      <%= textArea(f, :content, "Text", @casc_news, nil, true) %>
    </div>
  <%end%>
</div>