<div class="flex-col border border-regular border-4 rounded-3xl mt-4 mx-6 highlight-bg" style="max-height: 85vh">
  <div class="flex w-full h-fit border-b border-b-4 border-regular" style="max-height: 10vh">
    <h2 class="w-full text-center"><%=@challenge.title%></h2>
    <span class="ml-auto my-2">
      <%= heroicon "arrows-pointing-out", variant: :solid, options: { class: "h-8 w-8 text-gray-300 hover:text-white cursor-pointer" } %>
    </span>
    <span class="m-2">
      <a href="/">
        <%= heroicon "x-circle", variant: :solid, options: { class: "h-8 w-8 text-red-300 hover:text-red-500 cursor-pointer" } %>
      </a>
    </span>
  </div>
  <div class="overflow-scroll" style="max-height: 75vh">
    <%= form_with model: @challenge, method: :put, class: "h-full" do |f| %>
      <div class="flex p-4">
        <div class="flex-col w-1/3">
          <%= textField(f, :title, "Title", @challenge, nil, true) %>
        </div>
      </div>
      <div class="flex p-4">
        <div class="flex-col w-1/3">
          <%= textField(f, :difficulty, "Difficulty", @challenge, nil, true) %>
        </div>
        <div class="flex-col w-1/3">
          <%= textField(f, :points, "Points", @challenge, nil, true) %>
        </div>
        <div class="flex-col w-1/3">
          <%= textField(f, :rank, "Rank", @challenge, nil, true) %>
        </div>
      </div>
      <div class="flex p-4">
        <div class="flex-col w-1/3">
          <%= textField(f, :category, "Category", @challenge, @challenge.category.title, true) %>
        </div>
      </div>
      <div class="flex p-4">
        <%= textArea(f, :description, "Description", @challenge, nil, true) %>
      </div>
      <div class="flex py-4 px-8">
        <table class="w-full relative text-base text-left rtl:text-right ">
          <thead class="green-text uppercase ">
            <tr class="highlight-bg-accent rounded-md">
              <th scope="col" class="px-4 py-3">
                <div class="flex items-center">
                  title
                </div>
              </th>
              <th scope="col" colspan="2" class="px-4 py-3">
                <div class="flex items-center">
                  file
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="text-sm">
            <%= f.fields_for :documentations do |doc_form| %>
              <tr class="odd:highlight-bg even:bg-regular border-b border-regular">
                <td class="px-4 py-1 whitespace-nowrap">
                  <%= doc_form.text_field :title, class: " rounded-lg highlight-bg-accent overflow-scroll border-none", placeholder: "Title", disabled: true %>
                </td>
                <td class="px-4 py-1 whitespace-nowrap">
                  <%= doc_form.file_field :path, class: "border border-regular text-black border-2 rounded-md p-2" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
