<div class="flex-col h-full w-full">
  <div class="flex py-auto px-4" style="height: 5vh">
    <span>
      Total rows: <%= Category.all.count %>
    </span>
    <span title="Add a category" class="ml-auto">
      <%= link_to new_category_path() do %>
        <%= heroicon "plus", variant: :solid, options: { class: "h-6 w-6 m-1 text-gray-300 hover:text-white bg-lime-600 cursor-pointer rounded-lg" } %>
      <% end %>
    </span>
  </div>
  <div class="flex-col w-full overflow-scroll rounded-b-3xl" style="height: 75vh">
    <table class="w-full relative text-base text-left rtl:text-right">
      <thead class="green-text uppercase">
        <tr class="sticky top-0 highlight-bg-accent ">
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              title
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              creation date
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              description
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              show
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              edit
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              delete
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="text-sm">
        <% Category.all.each do |categ| %>
          <tr title="<%= categ.description %>" class="odd:highlight-bg even:bg-regular border-b border-regular white-text">
            <td class="px-4 py-1 whitespace-nowrap">
              <%= categ.title %>
            </td>
            <td class="px-4 py-1 whitespace-nowrap">
              <%= categ.updated_at.day %> <%= I18n.l(categ.updated_at, format: "%B")%> <%= categ.updated_at.year %>
            </td>
            <td class="px-4 py-1 whitespace-wrap">
              <%= categ.description.truncate(64, separator: ' ') %>
            </td>
            <td class="px-4 py-1 whitespace-wrap">
              <%= link_to category_path(categ.id) do %>
                <%= heroicon "eye", variant: :solid, options: { class: "h-6 w-6 m-4 text-gray-600 hover:green-text cursor-pointer" } %>
              <% end %>
            </td>
            <td class="px-4 py-1 whitespace-wrap">
              <%= link_to edit_category_path(categ.id) do %>
                <%= heroicon "pencil-square", variant: :solid, options: { class: "h-6 w-6 m-4 text-gray-600 hover:green-text cursor-pointer" } %>
              <% end %>
            </td>
            <td class="px-4 py-1 whitespace-wrap">
              <%= button_to casc_news_path(categ), method: :delete, params: {id: categ.id, path: "admin"} do %>
                <%= heroicon "trash", variant: :solid, options: { class: "h-6 w-6 m-1 p-1 text-gray-300 hover:text-white bg-red-400 cursor-pointer rounded-lg" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>