<div class="flex-col h-full w-full">
  <div class="flex px-4" style="height: 6vh">
    <span class="my-auto">
      Total rows: <%= Challenge.all.count %>
    </span>
    <span class="ml-auto my-auto">
      <%= addButton("Add a challenge", new_challenge_path()) %>
    </span>
  </div>
  <div class="flex-col w-full overflow-scroll rounded-b-3xl" style="height: 74vh">
    <table class="w-full relative text-base text-left rtl:text-right">
      <thead class="green-text uppercase">
        <tr class="sticky top-0 highlight-bg-accent ">
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center">
              title
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center">
              creation date
            </div>
          </th>
          <th scope="col" colspan="2" class="px-4 py-3">
            <div class="flex items-center">
              description
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center">
              edit
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center">
              delete
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="text-sm">
        <% Challenge.all.each do |chall| %>
          <tr title="<%= chall.description %>" class="odd:highlight-bg even:bg-regular border-b border-regular white-text hover:green-text hover:highlight-bg-accent cursor-pointer" onclick="window.location.href='<%= challenge_path(chall.id) %>'">
            <td class="px-4 py-1 whitespace-nowrap">
              <%= chall.title %>
            </td>
            <td class="px-4 py-1 whitespace-nowrap">
              <%= chall.updated_at.day %> <%= I18n.l(chall.updated_at, format: "%B")%> <%= chall.updated_at.year %>
            </td>
            <td colspan="2" class="px-4 py-1 whitespace-wrap">
              <%= chall.description.truncate(96, separator: ' ') %>
            </td>
            <td class="px-4 py-1 whitespace-wrap">
              <%= editButton("Edit this challenge", edit_challenge_path(chall)) %>
            </td>
            <td class="px-4 py-1 whitespace-wrap">
              <%= delButton("Delete a challenge", challenge_path(chall), chall) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>