<div class="flex-col h-full w-full">
  <div class="flex py-auto px-4" style="height: 6vh">
    <span class="my-auto">
      Total rows: <%= CascNew.all.count %>
    </span>
    <span class="ml-auto my-auto">
      <%= addButton("Add a new", new_casc_new_path()) %>
    </span>
  </div>
  <div class="flex-col w-full overflow-scroll rounded-b-3xl" style="height: 74vh">
    <table class="w-full relative text-base text-left rtl:text-right">
      <thead class="green-text uppercase">
        <tr class="sticky top-0 highlight-bg-accent ">
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              type
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center">
              title
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center">
              date
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center">
              content
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center">
              author
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center">
              edit
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center">
              delete
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="text-sm">
        <% CascNew.all.each do |new| %>
          <tr title="<%= new.content %>" class="odd:highlight-bg even:bg-regular border-b border-regular white-text hover:green-text hover:highlight-bg-accent cursor-pointer" onclick="window.location.href='<%= casc_new_path(new.id)%>'">
            <td class="px-4 py-1 whitespace-nowrap">
              <% case new.nType %>
              <% when "release" %>
                <img src='/assets/icons/release-w.png' class="w-6 h-6 mx-2 my-auto">
              <% when 'success' %>
                <img src='/assets/icons/cup-w.png' class="w-6 h-6 mx-2 my-auto">
              <% when 'event' %>
                <img src='/assets/icons/calendar-w.png' class="w-6 h-6 mx-2 my-auto">
              <% when 'test' %>
                <img src='/assets/icons/test-w.png' class="w-6 h-6 mx-2 my-auto">
              <% else %>
                <img src='/assets/icons/news-w.png' class="w-6 h-6 mx-2 my-auto">
              <% end %>
            </td>
            <td class="px-4 py-1 whitespace-nowrap">
              <%= new.title %>
            </td>
            <td class="px-4 py-1 whitespace-nowrap">
              <%= new.updated_at.day %> <%= I18n.l(new.updated_at, format: "%B")%> <%= new.updated_at.year %>
            </td>
            <td class="px-4 py-1 whitespace-wrap">
              <%= new.content.truncate(64, separator: ' ') %>
            </td>
            <td class="px-4 py-1 whitespace-wrap">
              <%= new.user.name %>
            </td>
            <td class="px-4 py-1 whitespace-wrap">
              <%= editButton("Edit this news", edit_casc_new_path(new.id)) %>
            </td>
            <td class="px-4 py-1 whitespace-wrap">
              <%= delButton("Delete a news", casc_new_path(new), new) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>